<div class="container mx-auto mt-8 max-w-4xl">
    <div class="bg-white py-8 px-6 shadow rounded-lg">
        <form (ngSubmit)="save()" [formGroup]="pessoaForm" #formDir="ngForm" class="w-full">
            <div class="flex flex-wrap mx-3 mb-6">

                <!---NOME-->
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="nome"
                        >
                        Nome
                      </label>
                      <input formControlName="nome"
                             class="form-group
                                    appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                              id="nome" 
                              name="nome"
                              type="text" 
                              placeholder="José"
                              required>
                        <div *ngIf="nome.invalid && formDir.submitted" class="validation-error">
                            <p *ngIf="nome.errors?.['required']" class="text-red-500 text-xs italic">Prencha o campo Nome</p>
                        </div>
                </div>

                <!---SOBRENOME-->
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="sobrenome"
                        >
                        Sobrenome
                      </label>
                      <input formControlName="sobrenome"
                             class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                              id="sobrenome" 
                              name="sobrenome"
                              type="text" 
                              placeholder="da Silva Santos"
                              required>
                        <div *ngIf="sobrenome.invalid && formDir.submitted" class="validation-error">
                            <p *ngIf="sobrenome.errors?.['required']" class="text-red-500 text-xs italic">Prencha o campo Sobrenome</p>
                        </div>
                </div>
            </div>

            <div class="flex flex-wrap mx-3 mb-6">

                <!---CPF-->
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="cpf"
                        >
                        Cpf
                      </label>
                      <input (blur)="getByCpf(this.pessoaForm.value.cpf)"
                             formControlName="cpf"
                             class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                              id="cpf" 
                              name="cpf"
                              type="text" 
                              placeholder="xxx.xxx.xxx-xx"
                              required>
                            <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
                                <p *ngIf="cpf.errors?.['required']" class="text-red-500 text-xs italic">Prencha o campo Cpf</p>
                            </div>
                      <span *ngIf="cpfExistente">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>                  
                        <strong>CPF Já Cadastrado</strong>
                      </span>
                </div>

  
                <!---NACIONALIDADE-->
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="nacionalidade"
                        >
                        Nacionalidade
                      </label>
                      <select (click)="getPaises()"
                             ngModel 
                             #nacionalidade="ngModel" 
                             [(ngModel)]="pessoaEditar.nacionalidade"
                             class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    border-red-500 rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                              id="nacionalidade" 
                              name="nacionalidade"
                              >
                              <option>Selecione</option>
                              
                              <option
                                *ngFor="let pais of listaPaises"
                              >
                              {{ pais.nome.abreviado }}
                              </option>

                      </select>
                      <p class="text-red-500 text-xs italic">Selecione a Nacionalidade</p>
                </div>

                <!---CEP-->
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="cep"
                        >
                        Cep
                      </label>
                      <input (blur)="getEnderecoByCep(this.pessoaForm.value.cep)"
                            ngModel 
                            #cep="ngModel" 
                            [(ngModel)]="pessoaEditar.cep"
                            class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                            id="cep" 
                            name="cep"
                            type="text" 
                            placeholder="xxxxx-xxx"
                            required
                            maxlength="9"
                        >
                       <p class="text-red-500 text-xs italic">Preencha o campo Cep</p>
                </div>
            </div>

            <div class="flex flex-wrap mx-3 mb-6">
                <!---LOGRADOURO-->
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="logradouro"
                        >
                        Logradouro
                      </label>
                      <input ngModel 
                            #logradouro="ngModel" 
                            [(ngModel)]="pessoaEditar.logradouro"
                            class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                            id="logradouro" 
                            name="logradouro"
                            type="text" 
                            placeholder="R. XV de Novembro"
                            required
                        >
                       <p class="text-red-500 text-xs italic">Preencha o campo Logradouro</p>
                </div>

                <!---ESTADO-->
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="estado"
                        >
                        Estado
                      </label>
                      <input ngModel 
                            #estado="ngModel" 
                            [(ngModel)]="pessoaEditar.estado"
                            class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                            id="estado" 
                            name="estado"
                            type="text" 
                            placeholder="SP"
                            required
                        >
                       <p class="text-red-500 text-xs italic">Preencha o campo Estado</p>
                </div>

                <!---CIDADE-->
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="cidade"
                        >
                        Cidade
                      </label>
                      <input ngModel 
                            #cidade="ngModel" 
                            [(ngModel)]="pessoaEditar.cidade"
                            class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                            id="cidade" 
                            name="cidade"
                            type="text" 
                            placeholder="São Paulo"
                            required
                        >
                       <p class="text-red-500 text-xs italic">Preencha o campo Cidade</p>
                </div>

            </div>

            <div class="flex flex-wrap mx-3 mb-6">
                <!---EMAIL-->
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="email"
                        >
                        Email
                      </label>
                      <input ngModel 
                            #email="ngModel" 
                            [(ngModel)]="pessoaEditar.email"
                            class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                            id="email" 
                            name="email"
                            type="email" 
                            placeholder="josesilva@email.com"
                            required
                        >
                       <p class="text-red-500 text-xs italic">Preencha o campo email</p>
                </div>

                 <!---TELEFONE-->
                 <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide 
                                  text-gray-700 text-xs 
                                  font-bold mb-2" for="telefone"
                        >
                        Telefone
                      </label>
                      <input ngModel 
                            #telefone="ngModel" 
                            [(ngModel)]="pessoaEditar.telefone"
                            class="appearance-none block w-full 
                                    bg-slate-100 text-gray-700 border 
                                    rounded py-3 px-4 mb-3 
                                    leading-tight 
                                    focus:outline-none 
                                    focus:bg-white" 
                            id="telefone" 
                            name="telefone"
                            type="tel" 
                            placeholder="(xx) xxxxx-xxxx"
                            required
                        >
                       <p class="text-red-500 text-xs italic">Preencha o campo Telefone</p>
                </div>
            </div>

            <div class="flex justify-center items-center mt-12">
                <button *ngIf="!editando"
                 [disabled]="cpfExistente" class="bg-indigo-500 
                            px-4 py-1 
                            rounded text-white
                            hover:bg-indigo-600"> {{ !loading ? 'Salvar' : '' }}

                 <svg *ngIf="loading"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 animate-spin">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                 </svg>
                 </button>

                 <button *ngIf="editando"
                 [disabled]="cpfExistente" class="bg-indigo-500 
                            px-4 py-1 
                            rounded text-white
                            hover:bg-indigo-600"> {{ !loading ? 'Alterar' : '' }}

                 <svg *ngIf="loading"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 animate-spin">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                 </svg>
                 </button>

                <span class="ml-6" >
                    <a style="cursor:pointer">Limpar</a>
                </span>
                
            </div>
            
        </form>
    </div>
</div>

<br>
<br>
<br>

<div class="flex justify-center mb-8">
    <table class="w-5/6">
        <thead class="bg-indigo-600 border-b2 text-stone-200">
            <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Id</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Nome</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Sobrenome</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Nacionalidade</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Cep</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Estado</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Cidade</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Logradouro</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Email</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Telefone</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left" colspan="2">Ações</th>
            </tr>
        </thead>

        <tbody *ngIf="!loading"
            class="border-t-0 border-l-2 border-r-2 border-b-2 border-slate-800">
            <tr
                *ngFor="let pessoa of pessoas">
                <td class="p-3 text-sm text-gray-700">{{ pessoa.id }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.nome }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.sobrenome }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.nacionalidade }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.cep }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.estado }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.cidade }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.logradouro }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.email }}</td>
                <td class="p-3 text-sm text-gray-700">{{ pessoa.telefone }}</td>
                
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" 
                        (click)="deletePessoa(pessoa.id)"
                    />
                    </svg> 
                </td>
                    
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" 
                        (click)="getPessoa(pessoa.id)"
                    />
                    </svg>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="loading">
            <div role="status" class="max-w-sm animate-pulse">
                <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px] mb-2.5"></div>
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[300px] mb-2.5"></div>
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"></div>
                <span class="sr-only">Loading...</span>
            </div>
        </tbody>

    </table>
</div>