<div class="container mx-auto">
   <form>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" placeholder="Nome" required>
        </div>

        <div class="form-group">
            <label for="Sobrenome">Sobrenome:</label>
            <input type="text" placeholder="Sobrenome" required>
        </div>

        <div class="form-group">
            <label for="Nacionalidade">Nacionalidade:</label>
            <input type="text" placeholder="Nacionalidade" required>
        </div>
        
        <div class="form-group">
            <label for="Cep">Cep:</label>
            <input type="text" placeholder="Cep" required>
        </div>

        <div class="form-group">
            <label for="Estado">Estado:</label>
            <input type="text" placeholder="Estado" required>
        </div>

        <div class="form-group">
            <label for="Cidade">Cidade:</label>
            <input type="text" placeholder="Cidade" required>
        </div>

        <div class="form-group">
            <label for="Logradouro">Logradouro:</label>
            <input type="text" placeholder="Logradouro" required>
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" placeholder="Email" required>
        </div>

        <div class="form-group">
            <label for="Telefone">Telefone:</label>
            <input type="text" placeholder="Telefone" required>
        </div>
    </form>
</div>