<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../../assets/Images/logo.png" alt="Logo">
            </span>

            <div class="text header-text mt-4">
                <span class="name">Compugraf ERP</span>
            </div>
        </div>

        <svg id="seta" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link mt-6">
                    <span class="nav-text">
                        <ul>
                            <li>Dashboard</li>
                            <li>Dashboard</li>
                            <li>Dashboard</li>
                            <li>Dashboard</li>
                        </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
